.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  border-radius: 16px;
  background-color: white;
  min-height: 500px;
  width: 800px;

  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 24px;
}

.img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.button {
  padding: 12px 16px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  will-change: transform;
  height: fit-content;
}

.buttons {
  position: relative;
  width: 100%;
  min-height: 100px;
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.yes {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: palevioletred;
  transform: translate(calc(-50% - 100px), -50%);
}

.no {
  position: absolute;
  left: 50%;
  top: 50%;
  color: black;
  background-color: lightgray;
}

.card {
  color: black;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}

.cardImg {
  height: 300px;
  width: auto;
  border-radius: 16px;
}

.title {
  font-size: 32px;
  color: black;
  margin: 0;
}
